* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background: #f0f0f0;
}

.header{
  background: url(images/background_header.png);
  background-repeat: no-repeat;
  font-family: Arial;
}


.logo{
  height: 80px;
  width: 200px;
  padding: 60px 0px 50px 375px ;
  background: #b297c4;
  color: #ffffff;
  font-size: 37px;
}

.nav-bar{
  height: 60px;
  padding-top: 70px;
  background: #383838
}

.navs{
  font-size: 12px;
  color: #ffffff;
  padding-left: 1150px;
}

.line{
  background: #292929;
  height: 60px;
  width: 2px;
}

.nav:hover{
  color: #b297c4;
  background: #2a2a2a;
  height: 60px;
}

.nav:hover{
  padding: 23px;
}

.banner{
   padding: 190px 375px 0px;
   background: url(images/banner.png);
   position: relative;
   color:rgba(0,0,0,0);
   text-align: center;
}

.banner h1{
  font-size: 55px;
}

.banner h2{
  font-size: 16px;
}

.banner h3{
  font-size: 16px;
  padding: 11px;
  border: 3px;
  border-color: rgba(0,0,0,0);
  border-radius: 3px;
}

.banner a{
  font-size: 10px;
}

.content{
    padding: 375px 375px;
}

.right-top-corner{
  position:absolute;
  top:0;
  right:0;
}

.banner-logo{
   background: url(images/banner-logo.png);
   padding-top: 73px;
   display: block;
   margin : 0 auto;
}
