* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background: #f0f0f0;
}

header{
  position: absolute;
  background: url(images/background_header.png);
  /*background-size: cover;*/
  background-repeat: no-repeat;
  font-family: 'FjallaOne', arial;
  width:1920px;
  height: 636px;
}


.logo{
  position: absolute;
  height: 80px;
  width: 200px;
  margin-left: 375px ;
  background: #b297c4;
  font-size: 37px;
  border-radius: 3px;
  text-align: center;
  line-height: 80px;
  top: -10px;
}

header a{
  color: #ffffff;
}

.nav-bar{
  width:100%;
  height:60px;
  position:relative;
  margin-top:70px;
  background: #383838
}

.navs{
  height:60px;
  font-size: 12px;
  color: #ffffff;
  padding-left: 1150px;
}

.vertical-line{
  background: #292929;
  height: 60px;
  width: 2px;
  display:inline-block;
}

.nav:hover{
  background: #2a2a2a;
  height: 60px;
}

.nav a:hover{
  color: #b297c4;
}

.nav{
  height: 60px;
  width: 80px;
  line-height: 63px;
  text-align: center;
  display:inline-block;
  position: relative;
  top: -25px;  
}

.banner{
   padding: 190px 375px 0px;
}

.content{
  padding: 375px;
  height: 300px;
  position: relative;
  top: 281px;
  width: 1170px;
}

.footer{
  position: absolute;
  background: url(images/background_footer.png);
  /*background-size: cover;*/
  background-repeat: no-repeat;
  font-family: Arial;
  width:1920px;
}

span.nav{width:100px;}

.banner{
   padding: 0px;
   background: url(images/banner.png);
   background-repeat: no-repeat;
   width: 1170px;
   height: 446px;
   position: relative;
   margin: 60px 375px 0px 375px;
   padding-top: 20px;
   color:rgba(225,200,200,10);
   text-align: center;
}

.banner h1{
  font-size: 55px;
}

.banner a{
  float: right;
  margin-right: 28px;
  margin-top: 11px;
  color:rgb(245,210,210);
  opacity: 0.9;
  font-size: 14px;
  text-decoration: none;
}

.banner a:hover{
  color: #b297c4;
}

.banner .banner-logo{
  background: url(images/banner_logo.png);
  background-repeat: no-repeat;
  position: relative;
  top:73px;
  left:545px;
  height: 86px;
  width: 79px;
  opacity: 0.9;
}

.banner .left-arrow{
  background: url(images/arrow_left.png);
  background-repeat: no-repeat;
  position: relative;
  top: 105px;
  left: 20px;
  height: 47px;
  width: 32px;
}

.banner .right-arrow{
  background: url(images/arrow_right.png);
  background-repeat: no-repeat;
  position: relative;
  left: 1120px;
  top: 58px;
  height: 47px;
  width: 32px;
}

.banner h1{
  margin-top: -3px;
  font-size: 64px;
  opacity: 0.9;
}

.banner h2{
  margin-top: 3px;
  font-size: 22px;
  opacity: 0.9;
}

.banner h3{
  margin-top: 15px;
  margin-left: 512px;
  font-size: 18px;
  opacity: 0.9;
  border: 3px solid rgb(245,210,210);
  border-radius: 5px;
  padding: 5px 0px;
  width: 114px;
}

.central-menu{
  height: 157px;
  background-color: #ffffff;
  margin-bottom: 56px;
}

.menu-item{
  width: 289px;
  font-size: 17px;
  color: #747474;
  display:inline-block;
  position: relative;
  font-family: 'Oxygen', arial;
  box-shadow: 5px 0px 5px #c1c1c1;
}

.menu-item a{
  font-family: 'Oxygen', arial;
  font-size: 13px;
  color: #979797;
  margin-left: 70px;
  position: relative;
  top: -14px;
}

.menu-item-img{
  position: relative;
  left: 106px;
  top: 11px;
}

.header-menu-item{
  margin-left: 95px;
  padding-top: 8px;
}

.columns{
  width: 1170px;
  margin-right: 30px;
}

.column{
  display: inline-block;
  position: relative;
  width: 270px;
  vertical-align: top;
}

.column h3{
  font-family: "FjallaOne",arial;
  font-size: 17px;
  color: #747474;
  width: 220px;
  padding: 30px 20px 3px 20px;
}

.column .column-img{
  padding: 20px;
  border-radius: 5px;
  width: 230px;
}

.column .small-column-img
{
  padding: 20px;
  border-radius: 5px;
  width: 105px;
}

.column h4{
   width: 230px;
   font-family: 'Oxygen', arial;
   font-size: 13px;
   color: #c1c1c1;
   line-height: 22px;
   padding-left: 20px;
   padding-bottom: 27px;
}

.readmore{
   font-family: 'FjallaOne', arial;
   font-size: 13px;
   color: #ffffff;
   background: #b297c4;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   padding: 20px;
   width: 230px;
}

.arrow_post{
  padding-left: 7px;
}

.post{
   background: white;
   border-radius: 5px;
   margin-bottom: 30px;
}